<div id="footer">
 &copy; <%= Time.now.stamp_like("2000")%>
 -
 <a href= "https://github.com/snatchmo" target="_blank"><%= fa_icon "github-alt", text: "Source Code" %></a>
 -
 <a href="mailto: jolandawalter@gmail.com" target="_blank"><%= fa_icon "paper-plane-o", text: "email" %></a>

</div>