<div id="main" class="shadowed">
  <h1 id="clock"><%= @current_time %></h1>
  <p id="greeting"><%= @greet_message %></p>
  <%#This is embedded ruby referencing in instance veriable in home_controller %>
  <%= image_tag "tpope.png" %>
</div>
