/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

$minor-sized: .7em;
$rounded: 5px;

html {
  font-family: Ubuntu, Arial;
  font-size: 20px;
  color: #FFF;
}

body {
  background: image-url("building.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #FFF;
}
a:link {
    text-decoration: none;
    }

#clearance_links {
  font-size: $minor-sized;
  padding: $minor-sized;

   a {
    display: block;
    color: white;
   }
}

#clearance {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1em 3em 3em 3em;
  border-radius: 5px;
  text-align: center;
  margin: 0 auto;
  width: 13em;

    a{
      color: #eee;
      text-decoration: none;
      display: block;
    }

    div {
      padding-top: 0.3em;
    }

    .other-links {
      font-size: $minor-sized;
      margin-top: 2em;
      padding: 10px;
      border: 1px solid rgba(255, 255, 255, 0.6);
      border-radius: 5px;

      a {
        padding: 2px;
      }
    }
}

.flash.notice {
  background-color: rgba(255,0,0,0.5);
  padding: 1em;
  width: 25em;
  margin: 0.5em auto;
  border-radius: $rounded;
  font-weight: bold;
  text-align: center;
}

#footer {
 position: absolute;
 bottom: 0;
 width: 100%;
 height: 2em;
 background-color: rgba(0,0,0,0.5);
 text-align: center;
 padding-top: 1em;
 color: white;
 left: 0;

a {
  color: white;
    &:hover  {
      color: #ffc700;
    }
  }
}

.shadowed {
  text-shadow: 2px 2px 1px #000; //add shadow x, y, blur, color
}