// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  top: 30%;
  width: 100%;
  position: absolute;
  line-height: 1em;

  h1 {
    font-size: 4em;
    color: #ffc700;
  }
  img {
    float: center;
  }
  p{
    font-size: 2em;
    font-family: pope
  }
}

